# Default ignored files
/shelf/
/workspace.xml
target/
# IDEs use a different build dir to reduce conflicts
# when running maven on the commandline at the same time
target-eclipse/
target-netbeans/
target-idea/

# IDE stuff
nbproject/
manifest.mf
nbbuild.xml
nb-configuration.xml
nbactions*.xml
*.iml
*.ipr
*.iws
.idea/
.run/
.project
.classpath
.settings/
*.swp
*.checkstyle
.vscode/
/logs/
/compiler.xml
/encodings.xml
/sonarlint/issuestore/index.pb
/jarRepositories.xml
/misc.xml
/vcs.xml
